@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1323px;
    width: 100%;
    margin: 0 auto;
    padding: 0  20px;
}
body{
    color: #2A254B;
}
.scroller{
    width: 100%;
    overflow-x: scroll;
    height: 100px;
    background: #000;
    color: aliceblue;
    display: flex;
    column-gap: 100px;
    scrollbar-width: none;    
}
.sckrollers{
    width: 100%;
    display: flex;
    column-gap: 10px;
    scrollbar-width: none;
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
}