@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.scroller{
    width: 100%;
    overflow-x: scroll;
    height: 100px;
    background: #000;
    color: aliceblue;
    display: flex;
    column-gap: 100px;
    scrollbar-width: none;    
}
.sckrollers{
    width: 1400px;
    overflow-x: scroll;
    display: flex;
    column-gap: 20px;
    scrollbar-width: none; 
}